a[href *= ".html"] {
    color:#3A98B9;
}
.body{
    background-color: #E8D5C4;
}
.header{
    color: #3A98B9;
    background-color: #FFF1DC;
    font-size: 24px;
    text-align: center;
}
.section{
    text-align: center;
    font-size: 22px;
}
.text{
    background-color: #FFF1DC;
}
.article{
    font-size: 22px; 
    position:fixed; 
    left: 390px;
}
.article2{
    position: relative;
    right: -55px;
    font-size: 20px; 
    width:1800px; 
    word-wrap:normal;
    
}